---
layout: base
---

{% assign parts = content | split:'<!-- TOC_START -->' %}

{% assign schedule = site.pages | where: "name", "Schedule.md" | first %}

{% capture page.content_left %}
  {% if schedule %}
    {{ schedule.content | markdownify }}
  {% endif %}
{% endcapture %}

{% capture page.content_right %}
  {% if parts.size > 1 %}
    {% assign toc_parts = parts[1] | split:'<!-- TOC_END -->' %}
    {{ toc_parts[0] }}
  {% endif %}
{% endcapture %}

<div class="mobile-schedule">
  {% if schedule %}
    <details>
      <summary><strong>Course Schedule</strong></summary>
      {{ schedule.content | markdownify }}
    </details>
  {% endif %}
</div>

{{ parts[0] }}

<div class="mobile-toc">
  {% if parts.size > 1 %}
    {% assign toc_parts = parts[1] | split:'<!-- TOC_END -->' %}
    {{ toc_parts[0] }}
  {% endif %}
</div>

